@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
// PS CSS START

// DEFAULT CSS - DO NOT CHANGE/REMOVE

/* font for less css */
	$font-Open-sans: 'Open Sans', sans-serif;
	$font-Frank-Ruhl: 'Frank Ruhl Libre', serif;
/* Colors for less end*/

/* Colors for less css */
	$color-teal: #01a89e;
	$color-yellow: #fab523; 
	$color-black_dark: #000;  
	$color-black_medium: #858585;
	$color-black_gray: #747474;  
/* Colors for less end*/

/* background for less css */
	$bg-teal_dark: #01a89e;
	$bg-teal_light: #44b2a5;
	$bg-white: #fff; 
	$bg-black_medium: #ecfffb;
	$bg-black_gray: #e5e5e5;
	$color-yellow: #f5b322;
/*background for less end*/

/*outline for less css*/
$outline: none;
/*outline for less css*/

/*ul list-style for less css*/
	$list-style-none: none;
/*ul margin for less css*/

/*margin for less css*/
	$margin-0: 0;
/*outline for less css*/

/*padding for less css*/
	$padding-0: 0;
	$padding-bottom-40: 40px;
	$padding-top-50: 50px;
/*padding for less css*/


$color-primary:	#00a99d;
$color-gray:	#868686;
$color-muted:	#999;
$color-white:	#fff;
$rotate-none: 	0deg;
$rotate-on:		45deg;
$rotate-off:	-45deg;
$radius-100:    100%;

// Transition CSS - DO NOT CHANGE/REMOVE

@mixin transform_rotate_none {
  -webkit-transform: rotate($rotate-none);
    -moz-transform: rotate($rotate-none);
    -o-transform: rotate($rotate-none);
    transform: rotate($rotate-none);
}

@mixin transform_rotate_on {
  -webkit-transform: rotate($rotate-on);
    -moz-transform: rotate($rotate-on);
    -o-transform: rotate($rotate-on);
    transform: rotate($rotate-on);
}

@mixin transform_rotate_off {
  -webkit-transform: rotate($rotate-off);
    -moz-transform: rotate($rotate-off);
    -o-transform: rotate($rotate-off);
    transform: rotate($rotate-off);
}

@mixin transition-duration ($duration) {
    -webkit-transition: $duration;
  	-moz-transition: $duration;
  	-o-transition: $duration;
  	transition: $duration;
}

@mixin transform-origin ($origin) {
      -webkit-transform-origin: $origin;
      -moz-transform-origin: $origin;
      -o-transform-origin: $origin;
      transform-origin: $origin;
}

@mixin border-radius-100 {
   -webkit-border-radius: $radius-100;
	  -ms-border-radius: $radius-100;
	  -moz-border-radius: $radius-100;
	  -o-border-radius: $radius-100;
	   border-radius: $radius-100;
}


.menu-toggle-text {
  color: $color-gray;
  font-size: .875rem;
  display: none;
}
.menu-toggle {
  cursor: pointer;
  display: none;
  height: 1rem;  
  margin: 1.5rem 0 1rem;
  position: relative;
  @include transform_rotate_none;
  @include transition-duration(.5s ease-in-out);
  width: 1.5rem;
  span {
    display: block;
    position: absolute;
    height: .1875rem;
    width: 100%;
    background: $color-primary;
    opacity: 1;
    left: 0;
    @include transform_rotate_none;
    @include transition-duration(.25s ease-in-out);
	&:nth-child(1) {
      top: -.0625rem;
      @include transform-origin (left center);
    }
	&:nth-child(2) {
      top: .4375rem;
	  @include transform-origin (left center);
    }
	&:nth-child(3) {
	  top: .9375rem;
	  @include transform-origin (left center);
    }
  }
  &.toggled-on {
	span {
	  &:nth-child(1) {
        @include transform_rotate_on;
	    top: -.125rem;
	    left: .25rem;
      }
	  &:nth-child(2) {
        width: 0%;
		opacity: 0;
      }
	  &:nth-child(3) {
		@include transform_rotate_off;
		top: .9375rem;
		left: .25rem;
      }
    }
  }
}

.header-right-part {
  .user-profile {
    span {
	  @include border-radius-100;
      overflow: hidden;
	}
  }
}

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1201px,
  xl: 1367px
) !default;

/*---------------------footer-------------------*/
.footer-content{background: $color-teal; font-family: $font-Open-sans; padding: $padding-top-50; padding: $padding-bottom-40; }
.footer-content .footer-menu{list-style: $list-style-none; margin: $margin-0; padding: $padding-0;}
.footer-content h3 {color: $bg-white;  font-size: 16px; margin-bottom: 18px; font-weight: 600; font-family: $font-Open-sans; } 
.footer-content h3:hover{color: $color-yellow;}
.footer-content .footer-menu li {margin-bottom: 6px;}
.footer-content .footer-menu li a {color: $bg-white; font-size: 13px; font-weight: 400;}
.footer-content .footer-menu li a:hover{ color: $color-yellow;}
.footer-search {margin-right: 20px;}
.footer-search .form-control{color: $color-black_medium; font-size: 13px; border-color: #fff;}
.footer-search .btn {color: $bg-white; font-size: 13px; font-weight: 400; background-color: #10786e; border: none;}
.footer-link {color: $color-black_gray; font-size: 11px; font-weight: 400;}
.footer-link a {color: $color-black_gray; font-size: 13px; margin: 0 5px;}
.footer-link a:hover{color: $color-black_gray;}
.coppy-right-text {color: $color-black_gray; font-size: 12px; letter-spacing: 1px; font-weight: 400; margin-top: 10px; margin-bottom: 35px;}
.footer-line {/*border-top: 1px solid #cfcfcf;*/ margin-bottom: 18px;}
.footer-search .news-icon a {background: url(../../images/footer-icon.png) no-repeat; border: 1px solid #fff; border-radius: 100%; display: inline-block; height: 40px; margin-right: 7px; width: 40px;}
.footer-search .news-icon a.massage-ico{background-position: 10px 10px;}
.footer-search .news-icon a.sina-weibo-ico{background-position: -30px 10px;}
/*---------------------footer end-------------------*/


$grid-breakpoints-xl:	1920px;
$grid-breakpoints-xb:	1200px;
$grid-breakpoints-lb:	1280px;
$grid-breakpoints-lg:	1199px;
$grid-breakpoints-mb:	992px;
$grid-breakpoints-md:	991px;
$grid-breakpoints-tb:	768px;
$grid-breakpoints-sm:	767px;
$grid-breakpoints-xs:	575px;

// Media Queries

@media screen and (min-width:$grid-breakpoints-xb) {
  .container {
    max-width: 100%;
    width: 1280px;
  }
  .gallery-hero-section {
    background-size: cover;
  }
}
@media screen and (max-width:$grid-breakpoints-xl) {
  .site-header-menu {
    .dropdown-toggle {
	  display: none;
	}
  }
  .required {
    color: #f00;
  }
  .no-before {
    &:before {
	  display: none!important;
	}
  }
  .header-right-part {
    .language-drop {
	  .franch, .chiness {
	    background: $color-white;
	    z-index: 1;
	  }
	}
  }
}

@media screen and (min-width:$grid-breakpoints-mb) and (max-width:$grid-breakpoints-lb) {
  .gallery-part {
    ul {
	  text-align: center;
      li {
	    display: inline-block;
	    float: none;
		vertical-align: top;
		width: 20%;
		img {
		  height: auto;
		}
		.text-gallery {
		  margin: 0 auto;
		  max-width: 92%;
		  text-align: left;
		}
	  }	  
	}
  }
}

@media screen and (max-width:$grid-breakpoints-lg) {
  header.header-scroll {
    position: relative;
  }
  .header-right-part {
    .search-header {
	  margin-left: 0;
	  margin-right: 0;
	  width: auto;
	}
	.language-drop, .user-profile, .product-cart {
	  margin-left: 1.25rem;
	}
  }
}

@media screen and (max-width:$grid-breakpoints-md) {
  .gallery-hero-section {
    padding: 1.5rem 0;
    .gallery-part {
      padding: 0 .9375rem;
      li {
	    margin: 0 !important;
	    width: 33.333% !important;
	    padding: .9375rem;
		img {
		  height: auto;
		}
	    .text-gallery {
	      left: 0;
		  margin: 0 auto;
		  right: 0;
		  top: 35%;
		  width: 94%;
	    }
	  }
    }
  }
  .dimond_members {
    > h3 {
	  text-align: center;
	}
  }
  .dimond-products-list {
    .right-space {
	  margin:0!important;
	  padding-bottom: 1.5rem;
	  padding-right: .9375rem;	  
	  .dimond-products {
	    width: 100%;
		.product-overlay {
		  max-height: 10.75rem;
		  overflow: hidden;
	      img {
		    width: 100%
		  }
	    }
	  }
	}
  }
  .home-Member-pad {
	.product-content {
	  .view-details {
		text-align: right;
	  }
	}
  }
  .home-add-banner {
    margin: 0;
    text-align: center;
  }
  .how-it-work-section {
    h3 {
	  text-align: center;
	  margin-bottom: 1rem;
	}
    .placeholder {
	  &:before, &:after {
		display: none;
	  }
	}
  }
}

@media screen and (max-width:$grid-breakpoints-sm) {
  header {
    &.site-header {
	  border-bottom: .0625rem solid #e5e5e5;
	  padding: 0;	  
	}
	.logo {
	  text-align: center;
	}
	.header-top-part {
	  margin: 0;
	  padding-bottom: 0;
	}
    .menu-toggle,.menu-toggle-text {
	  display: inline-block;
	}
	.site-header-menu {
	  border-top: .0625rem solid #e5e5e5;
	  display: none;
	  left: .9375rem;
	  position: absolute;
	  top: -5.5rem;
	  width: 23.125rem;
	  z-index: 10000;
	  &.toggled-on {
	    display: block;
	  }
	  .menu-header {
        li {
		  background: $color-white;
		  border: .0625rem solid #e5e5e5 !important;
		  border-top: 0 none !important;
		  margin: 0;
		  padding: 0;
		  position: relative;
		  width: 100%;
		  &:before, &:after {
		    display: none;
		  }
		  &.current_page_item {
		    background: rgba(79,214,200,1);
			background: -moz-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,214,200,1)), color-stop(100%, rgba(0,169,158,1)));
			background: -webkit-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
			background: -o-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
			background: -ms-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
			background: linear-gradient(to bottom, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd6c8', endColorstr='#00a99e', GradientType=0 );
			> a {
			  color: $color-white;
			  padding: .625rem 1rem !important;
			}
		  }
		  &:hover {
		    .sub-menu {
			  display: none;
			}
		  }
		  .sub-menu {
		    border: 0 none;
			margin: 0;
			width: 100%;
			&.toggled-on {
			  border: 0 none;
			  display: block;
			  margin: 0;
			  opacity: 1;
			  position: relative;
			  left: 0;
			  right: 0;
			  top: 0;
			  width: 100%;
			  visibility: visible;
			}
			li {
			  background: #f5f5f5;
			  border: 0 none;
			  border-top: solid .0625rem $color-white;
			  padding: 0;
			  &.current_page_item {
				background: rgba(79,214,200,1);
				background: -moz-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,214,200,1)), color-stop(100%, rgba(0,169,158,1)));
				background: -webkit-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
				background: -o-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
				background: -ms-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
				background: linear-gradient(to bottom, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd6c8', endColorstr='#00a99e', GradientType=0 );
				a {
				  color: $color-white !important;
				}
			  }
			  &:hover {
			    border-color: $color-white;
				a {
			      color: #393939;
				}
			  }
			  > a {
			    color: $color-muted !important;
				font-family: 'Open Sans', sans-serif;
				font-size: .8125rem;
			    padding: .75rem 1.5rem !important;
				&:hover {
			      color: $color-primary !important;
			    }
			  }
			  .sub-menu {
				li {
				  background: #e9e9e9;
				  border: 0 none !important;
			      border-top: solid .0625rem $color-white !important;
				  &.current_page_item {
				    background: rgba(79,214,200,1);
					background: -moz-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
					background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(79,214,200,1)), color-stop(100%, rgba(0,169,158,1)));
					background: -webkit-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
					background: -o-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
					background: -ms-linear-gradient(top, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
					background: linear-gradient(to bottom, rgba(79,214,200,1) 0%, rgba(0,169,158,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fd6c8', endColorstr='#00a99e', GradientType=0 );
					a {
					  color: $color-white !important;
					}
				  }
				  a {
				    color: $color-muted !important;
				    padding: .75rem 2.25rem !important;
					&:hover, &:focus {
				      color: $color-white !important;
				    }
				  }
			    }
			  }
			  &:hover {
				.sub-menu {
				  display: none;
				  &.toggled-on {
				    border: 0 none;
				    display: block;
				    margin: 0;
				    opacity: 1;
				    position: relative;
					left: 0;
					right: 0;
				    top: 0;
				    width: 100%;
				    visibility: visible;
				  }
				}
			  }
			}
		  }
		  > a {
		    display: block;
			color: $color-gray;
			font-family: 'Open Sans', sans-serif;
			font-size: .8125rem;
			font-weight: 700;
			text-transform: uppercase;
			padding: .625rem 1rem !important;
			&:hover {
			  color: $color-primary;
			}
		  }
		  .dropdown-toggle {
		    background: transparent;
		    border: 0 none;
			cursor: pointer;
			display: block;
			height: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: 2.25rem;
			&:after {
			  margin-left: 0;
			}
		  }
	    }
	  }
	}
	.header-right-part {
	  padding: .75rem 0 1.25rem 1.25rem;
      .search-header {
	    margin: 0 0 1.125rem;
	    max-width: inherit;
	    width: 100%;	  
	  }
	  .language-drop {
	    margin-left: 0;
	  }
    }
  }
  .gallery-hero-section {
    display: none;
  }
  .footer-content {
    .footer-menu {
	  margin-bottom: 2.188rem;
	  width: 100%;
	  li {
	    margin-bottom: .25rem;
	    h3 {
		  margin-bottom: 0;
		}
	  }
	}
  }
  .copy-right-txt {
    padding: .625rem 0;
    .text-right {
      text-align: left !important;
	  padding: 0 1rem;
	  max-width: 540px;
	  margin: 0 auto;
	}
  }
}

@media screen and (max-width:$grid-breakpoints-xs) {
  header.site-header {
    &.header-scroll {
	  position: relative;
	}
	.col-menu-toggle {
	  bottom: 1.4375rem;
	  left: 0;
	  position: absolute;	  	  
	  width: auto;
	  z-index: 1;
	}
	.site-header-menu {
	  width: 100%;
	  overflow: hidden;
	  &.toggled-on {
	    left: 0;
	    top: 0;
	  }
	}
    .logo {
	  margin: .625rem auto 0;
	  text-align: center;
	  img {
	    max-width: 7.5rem;
	  }
	}
	.information {
	  margin: 0 auto .5rem;
	}
	.header-right-part {
	  text-align: right;
	  .language-drop,.user-profile,.product-cart,.hart-button {
	  	display: inline-block;
		float: none !important;		
		vertical-align: top;
	  }
	}
  }
  .footer-content {
  	padding: 1.5rem 0 0;
  }
  footer.footer-content .footer-menu {
  margin-bottom: 0.625rem;
 }
 header.site-header .site-header-menu.toggled-on {
	  display: block;
	  left: 0;
	  margin-bottom: 10px;
	  margin-left: -15px;
	  margin-right: -15px;
	  position: relative;
	  top: 0;
	  width: auto;
	}
}

// PS CSS END